<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
  }

  .container a {
    color: #00a8ff;
  }

  .container h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .container strong {
    color: #00a8ff;
  }
</style>

<div class="container">
  <span>Olá {{name}}</span>

  <br />

  <span>Você solicitou uma redefinição de senha.</span>
  <span>Para efetuar a redefinição de senha, clique no link: <a href={{link}}>{{link}}</a>
  </span>

  <span>Caso você não tenha solicitado a redefinição de senha, por favor ignore este email.</span>

  <h3>Atenciosamente, equipe <strong>Rentx</strong>!</h3>
</div>